@model HelloWorld.Model.HelloWorldModel
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Below is the API Response from /api/home</h2>
        <h3>@Model.DisplayText</h3>
    </div>
</div>